::-webkit-scrollbar {
  width: .5em;
}
::-webkit-scrollbar-track{
  background: #F4D3D3;
}

::-webkit-scrollbar-thumb {
  background: #46458C;
  border-radius: 100vw
}

.swiper {
  width: 300px;
  height: 300px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;